html {
   background-color: #36393e; /*Backup if bg-img is non funtional*/
   background-image: url('https://us-east-1.tixte.net/uploads/ddeveloper.discowd.com/IMG_6745.png'); /*the cool background img of a chat*/
}
.semi-transparent-box {
    width: 80%; /* Make it responsive */
    max-width: 600px; /* Set a maximum width */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.25); /* Black with 25% opacity */
    color: white;
    border-radius: 10px;
    font-family: Helvetica, sans-serif; /*It's a cool font*/
}
